.places__paragraph {
  font-size: 18px;
  line-height: 1.67;
  font-family: 'Inter';


  grid-area: paragraph;
  margin-top: 0;
  margin-bottom: 24px;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.places__paragraph:last-child {
  margin: 0;
  padding: 0;
}

/* ! Планшеты в вертикальной либо горизонтальной ориентации, от 768 до 1024 пикселей */
@media screen and (max-width: 1023px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 1.62;
  }
}

/* ! Малые смартфоны, менее 425 пикселей */
@media screen and (max-width: 425px) {
  .places__paragraph {
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;

  }
  .places__paragraph:last-child {
    margin-left: 16px;
    margin-right: 16px;
  }
}