.cover__link {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: white;
}

@media screen and (max-width: 400px) {
  .cover__link {
    max-width: 400px;
  }
}

@media screen and (max-width: 350px) {
  .cover__link {
    max-width: 350px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    max-width: 320px;
  }
}