@import url(./__content/page__content.css);

.page {
  max-width: 1280px;
  background-color: #2a2c2f;
  color: #fff;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}