@import url(./__content/page__content.css);

.page {
  max-width: 1280px;
  background-color: #2a2c2f;
  color: #fff;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

/* ! Малые ноутбуки, от 1024 до 1280 пикселей */
@media screen and (max-width: 1279px) {
  .page {
    max-width: 1279px;
  }
}

/* ! Планшеты в вертикальной либо горизонтальной ориентации, от 768 до 1024 пикселей */
@media screen and (max-width: 1023px) {
  .page {
    max-width: 1023px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    max-width: 767px;
  }
} */

@media screen and (max-width: 699px) {
  .page {
    max-width: 699px;
  }
}

@media screen and (max-width: 649px) {
  .page {
    max-width: 649px;
  }
}
@media screen and (max-width: 599px) {
  .page {
    max-width: 599px;
  }
}
@media screen and (max-width: 549px) {
  .page {
    max-width: 549px;
  }
}
@media screen and (max-width: 499px) {
  .page {
    max-width: 499px;
  }
}
@media screen and (max-width: 449px) {
  .page {
    max-width: 449px;
  }
}

/* ! Малые смартфоны, менее 425 пикселей */
@media screen and (max-width: 425px) {
  .page {
    max-width: 425px;
    
  }
} 

@media screen and (max-width: 399px) {
  .page {
    max-width: 399px;
  }
}

@media screen and (max-width: 350px) {
  .page {
    max-width: 350px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
  }
}