.places__image {
  width: 460px;
  height: 460px;
  object-fit: cover;
  grid-area: image;
  margin: 0;
}

/* ! Малые ноутбуки, от 1024 до 1280 пикселей */
@media screen and (max-width: 1279px) {
  .places__image {
    width: 440px;
    height: 440px;
  }
}

/* ! Планшеты в вертикальной либо горизонтальной ориентации, от 768 до 1024 пикселей */
@media screen and (max-width: 1023px) {
  .places__image {
    width: 340px;
    height: 340px;
  }
}

/* ! Большие смартфоны в вертикальной либо горизонтальной ориентации, от 425 до 768 пикселей */
@media screen and (max-width: 767px) {
}

/* ! Малые смартфоны, менее 425 пикселей */
@media screen and (max-width: 425px) {
  .places__image {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}