.places__image {
  width: 460px;
  height: 460px;
  object-fit: cover;
  grid-area: image;
  margin: 0;
}

/* ! Малые ноутбуки, от 1024 до 1280 пикселей */
@media screen and (max-width: 1279px) {
  .places__image {
    width: 440px;
    height: 440px;
  }
}

/* ! Планшеты в вертикальной либо горизонтальной ориентации, от 768 до 1024 пикселей */
@media screen and (max-width: 1023px) {
  .places__image {
    width: 340px;
    height: 340px;
  }
}

/* ! Большие смартфоны в вертикальной либо горизонтальной ориентации, от 425 до 768 пикселей */
@media screen and (max-width: 650px) {
  .places__image {
    width: 600px;
    height: 600px;
    object-fit: cover;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 600px) {
  .places__image {
    width: 550px;
    height: 550px;
    object-fit: cover;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 550px) {
  .places__image {
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 500px) {
  .places__image {
    width: 450px;
    height: 450px;
    object-fit: cover;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 450px) {
  .places__image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 425px) {
  .places__image {
    width: 375px;
    height: 375px;
    object-fit: cover;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 400px) {
  .places__image {
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 350px) {
  .places__image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 320px) {
  .places__image {
    width: 270px;
    height: 270px;
    object-fit: cover;
    margin-bottom: 32px;
  }
}