.footer__menu {
  margin: 0;
  padding: 0;

  list-style-type: none;

  display: flex;
}

/* ! Малые смартфоны, менее 425 пикселей */
@media screen and (max-width: 425px) {
  .footer__menu {
    display: flex;
    flex-direction: column;
  }
}