@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);


.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}