.cover__subtitle {
  font-size: 18px;
  line-height: 1.2;
  font-family: 'Inter';

  text-align: center;
  width: 360px;
  justify-self: center;
  margin: 0;
  padding: 0;
  z-index: 5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 500px) {
  .cover__subtitle {
    font-size: 16px;
  }
}