.cover__subtitle {
  font-size: 18px;
  line-height: 1.2;
  font-family: 'Inter', Arial, sans-serif;

  text-align: center;
  width: 100%;
  max-width: 360px;
  justify-self: center;
  margin: 0;
  padding: 0;
  z-index: 5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 500px) {
  .cover__subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.15;
    max-width: calc(100% - 32px);
  }
}