.gallery__item {
  width: 100%;
  height: 213px;

  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .gallery__item {
    height: 225px;
  }
}

@media screen and (max-width: 768px) {
  .gallery__item {
    height: 264px;
  }
}

/* ! Малые смартфоны, менее 425 пикселей */
@media screen and (max-width: 425px) {
  .gallery__item {
    height: 216px;
    margin-bottom: 12px;
  }

  .gallery__item:last-of-type {
    margin-bottom: 0;
  }
}