.gallery__item {
  width: 284px;
  height: 213px;
}

/* ! Малые ноутбуки, от 1024 до 1280 пикселей */
@media screen and (max-width: 1279px) {
  .gallery__item {
    width: 300px;
    height: 225px;
  }
}

/* ! Планшеты в вертикальной либо горизонтальной ориентации, от 768 до 1024 пикселей */
@media screen and (max-width: 1023px) {
  .gallery__item {
    width: 352px;
    height: 264px;
  }
}

/* ! Большие смартфоны в вертикальной либо горизонтальной ориентации, от 425 до 768 пикселей */
@media screen and (max-width: 767px) {
  
}

/* ! Малые смартфоны, менее 425 пикселей */
@media screen and (max-width: 425px) {
  .gallery__item {
    width: 100%;
    margin-bottom: 12px;
    object-fit: cover;
  }

  .gallery__item:last-of-type {
    margin-bottom: 0;
  }
}