.lead__title {
  font-size: 96px;
  line-height: 1.04;
  font-family: 'Inter', Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-weight: 900;

  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  max-width: 720px;
}

/* ! Большие смартфоны в вертикальной либо горизонтальной ориентации, от 425 до 768 пикселей */
@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 80px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 700px) {
  .lead__title {
    font-size: 75px;;
  }
}

@media screen and (max-width: 650px) {
  .lead__title {
    font-size: 70px;
  }
}

@media screen and (max-width: 600px) {
  .lead__title {
    font-size: 65px;
  }
}

@media screen and (max-width: 550px) {
  .lead__title {
    font-size: 65px;
  }
}

@media screen and (max-width: 500px) {
  .lead__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 450px) {
  .lead__title {
    font-size: 55px;
  }
}

/* ! Малые смартфоны, менее 425 пикселей */
@media screen and (max-width: 425px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    width: calc(100% - 32px);
    margin: 0;
    padding: 0;
  }
}