@import url(./__title/intro__title.css);
@import url(./__main-text/intro__main-text.css);
@import url(./__info/intro__info.css);
@import url(./__info-bold/intro__info-bold.css);
@import url(./__info-container/intro__info-container.css);

.intro {
  width: 100%;
  max-width: 984px;
  padding-top: 92px;
  padding-bottom: 92px;
}

/* ! Малые ноутбуки, от 1024 до 1280 пикселей */
@media screen and (max-width: 1279px) {
  .intro {
    width: calc(100% - 96px);
  }
}

/* ! Планшеты в вертикальной либо горизонтальной ориентации, от 768 до 1024 пикселей */
@media screen and (max-width: 1023px) {
  .intro {
    width: calc(100% - 48px);
    padding-top: 88px;
    padding-bottom: 88px;
  }
}

/* ! Большие смартфоны в вертикальной либо горизонтальной ориентации, от 425 до 768 пикселей */
@media screen and (max-width: 767px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* ! Малые смартфоны, менее 425 пикселей */
@media screen and (max-width: 425px) {
  .intro {
    width: calc(100% - 32px);
    padding-top: 64px;
  }
}