@import url(./__image/cover__image.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__link/cover__link.css);

.cover {
  width: 1184px;
  height: 740px;

  position: relative;

  background-image: url(../../images/cover.jpg);
  background-size: cover;

  margin: 92px auto;

  display: flex;
}

/* ! Малые ноутбуки, от 1024 до 1280 пикселей */
@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
    height: 640px;
  }
}

/* ! Планшеты в вертикальной либо горизонтальной ориентации, от 768 до 1024 пикселей */
@media screen and (max-width: 1023px) {
  .cover {
    width: 100%;
    height: 480px;
  }
}

@media screen and (max-width: 700px) {
  .cover {
    height: 438px;
  }
}

@media screen and (max-width: 650px) {
  .cover {
    height: 438px;
  }
}

@media screen and (max-width: 600px) {
  .cover {
    height: 406px;
  }
}

@media screen and (max-width: 550px) {
  .cover {
    height: 344px;
  }
}

@media screen and (max-width: 500px) {
  .cover {
    height: 313px;
  }
}

@media screen and (max-width: 450px) {
  .cover {
    height: 281px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    height: 266px;
  }
}

@media screen and (max-width: 400px) {
  .cover {
    max-width: 400px;
    height: 250px;
  }
}

@media screen and (max-width: 350px) {
  .cover {
    max-width: 350px;
    height: 219px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    height: 200px;
  }
}