.lead__caption {
  font-family: 'Inter';
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: .15em;
  align-self: start;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

/* ! Планшеты в вертикальной либо горизонтальной ориентации, от 768 до 1024 пикселей */
@media screen and (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}

/* ! Малые смартфоны, менее 425 пикселей */
@media screen and (max-width: 425px) {
  .lead__caption {
    margin-top: 8px;
    margin-left: 16px;
    margin-bottom: 0;
  }
}