.cover__title {
  width: 100%;
  max-width: 560px;
  
  font-family: 'Inter', Arial, sans-serif;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  text-align: center;

  margin: 0 0 32px 0;
  padding: 0;

  z-index: 5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

/* ! Владимир, честно говоря, не понял, что вы имели в виду, говоря об этой ошибке. Код действительно стал короче и адаптив не ломается, но дизайн немного не тот становится. При таком коде на малых разрешениях заголовок явно больше, чем в макете. */

@media screen and (max-width: 650px) {
  .cover__title {
    font-size: 65px;
  }
}

@media screen and (max-width: 600px) {
  .cover__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 500px) {
  .cover__title {
    font-size: 55px;
  }
}

@media screen and (max-width: 450px) {
  .cover__title {
    font-size: 50px;
  }
}

/* ! Малые смартфоны, менее 425 пикселей */
@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 45px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 400px) {
  .cover__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 350px) {
  .cover__title {
    font-size: 38px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
  }
}