@import url(./__author/footer__author.css);
@import url(./__menu/footer__menu.css);
@import url(./__menu-link/footer__menu-link.css);
@import url(./__nav/footer__nav.css);

.footer {
  width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 24px;

  align-self: center;
}

/* ! Малые ноутбуки, от 1024 до 1280 пикселей */
@media screen and (max-width: 1279px) {
  .footer {
    width: calc(100% - 96px);
  }
}

/* ! Планшеты в вертикальной либо горизонтальной ориентации, от 768 до 1024 пикселей */
@media screen and (max-width: 1023px) {
  .footer {
    width: calc(100% - 48px);
  }
}

/* ! Большие смартфоны в вертикальной либо горизонтальной ориентации, от 425 до 768 пикселей */
@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}

/* ! Малые смартфоны, менее 425 пикселей */
@media screen and (max-width: 425px) {
  .footer {
    width: calc(100% - 32px);
    align-items: flex-start;
  }
}