.intro__info {
  font-family: 'Inter';
  font-size: 12px;
  line-height: 1.5;

  margin: 0;
  padding: 0;
  list-style-type: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

/* ! Малые смартфоны, менее 425 пикселей */
@media screen and (max-width: 425px) {
  .intro__info {
    width: calc(100% - 32px);
  }
}

