.intro__title {
  font-size: 54px;
  line-height: 1.07;
  font-weight: 900;
  font-family: 'Inter';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  margin: 0;
  padding-bottom: 40px;
}

/* ! Планшеты в вертикальной либо горизонтальной ориентации, от 768 до 1024 пикселей */
@media screen and (max-width: 1023px) {
  .intro__title {
    width: calc(100% - 48px);
  }
}

/* ! Большие смартфоны в вертикальной либо горизонтальной ориентации, от 425 до 768 пикселей */
@media screen and (max-width: 767px) {
  .intro__title {
    display: flex;
    align-self: center;
  }
}

/* ! Малые смартфоны, менее 425 пикселей */
@media screen and (max-width: 425px) {
  .intro__title {
    width: calc(100% - 32px);
    font-size: 32px;
    line-height: 1.09;
  }
}